In [1]:
import pandas as pd 
import glob

In [2]:
datasets = glob.glob('datasets/GSE121239/GSE121239/GE_table/dataset*.csv')  
datasets

['datasets/GSE121239/GSE121239/GE_table/dataset_26.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_32.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_33.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_27.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_31.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_25.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_19.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_18.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_24.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_30.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_34.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_20.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_21.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_35.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_23.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_37.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_36.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_22.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_45.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_51.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_50.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_44.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_52.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_46.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_47.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_53.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_43.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_9.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_8.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_42.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_56.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_40.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_54.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_55.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_41.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_6.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_7.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_5.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_4.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_1.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_49.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_3.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_2.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_48.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_13.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_12.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_10.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_38.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_39.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_11.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_29.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_15.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_14.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_28.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_16.csv',
 'datasets/GSE121239/GSE121239/GE_table/dataset_17.csv']

In [4]:
df1 = pd.read_csv('datasets/GSE121239/GSE121239/GE_table/dataset_26.csv')
df2 = pd.read_csv('datasets/GSE121239/GSE121239/GE_table/dataset_33.csv')

df1.equals(df2)

False

In [5]:
print("Number of Datasets: ", len(datasets))

Number of Datasets:  56

In [6]:
def sort_df(df, sort_col='adj.P.Val'): 
    #Sort ascending or descending (depending on sort_col) 
    if sort_col in ['adj.P.Val']: 
        if df[sort_col].is_monotonic_increasing: return df 
        else: return df.sort_values(by=sort_col, ascending=True).reset_index(drop=True) 
    elif sort_col in ['t', 'B', 'logFC']: 
        if df[sort_col].is_monotonic_decreasing: return df 
        else: return df.sort_values(by=sort_col, ascending=False).reset_index(drop=True)

In [7]:
res_df_cols = ['Dataset', 'sort_by', 'rank_elf1', 'rank_irf1', 'rank_syngr1'] 
res_df = pd.DataFrame(columns=res_df_cols) 

for data in datasets: 
    df = pd.read_csv(data) 
    name = data.split('/')[-1].upper()
    for col in ['adj.P.Val', 't', 'B', 'logFC']:
        sorted_df = sort_df(df, sort_col=col) 
        res_df.loc[len(res_df.index)] = [name, col, 
                                         list(sorted_df[sorted_df['Gene.symbol']=='ELF1'].index)[0], 
                                         list(sorted_df[sorted_df['Gene.symbol']=='IRF1'].index)[0], 
                                         list(sorted_df[sorted_df['Gene.symbol']=='SYNGR1'].index)[0]]
res_df

            Dataset    sort_by  rank_elf1  rank_irf1  rank_syngr1
0    DATASET_26.CSV  adj.P.Val      23442      12151         8644
1    DATASET_26.CSV          t      11565       6343        35799
2    DATASET_26.CSV          B      28782      14662         8289
3    DATASET_26.CSV      logFC      14389      17977        37173
4    DATASET_32.CSV  adj.P.Val      26146      17268         4345
..              ...        ...        ...        ...          ...
219  DATASET_16.CSV      logFC       7348       9474        37526
220  DATASET_17.CSV  adj.P.Val      23442      12151         8644
221  DATASET_17.CSV          t      11565       6343        35799
222  DATASET_17.CSV          B      28782      14662         8289
223  DATASET_17.CSV      logFC      14389      17977        37173

[224 rows x 5 columns]

In [10]:
res_df[res_df['Dataset']=='DATASET_33.CSV']

           Dataset    sort_by  rank_elf1  rank_irf1  rank_syngr1
8   DATASET_33.CSV  adj.P.Val      23442      12151         8644
9   DATASET_33.CSV          t      11565       6343        35799
10  DATASET_33.CSV          B      28782      14662         8289
11  DATASET_33.CSV      logFC      14389      17977        37173

In [6]:
for rank_col in ['rank_elf1', 'rank_irf1', 'rank_syngr1']: 
    print(rank_col) 
    new_res_df = res_df[res_df['sort_by']=='adj.P.Val']
    print(new_res_df[new_res_df[rank_col] == new_res_df[rank_col].min() ]) 
    print("================================================================")

rank_elf1
            Dataset    sort_by  rank_elf1  rank_irf1  rank_syngr1
0    DATASET_26.CSV  adj.P.Val      23442      12151         8644
8    DATASET_33.CSV  adj.P.Val      23442      12151         8644
20   DATASET_25.CSV  adj.P.Val      23442      12151         8644
28   DATASET_18.CSV  adj.P.Val      23442      12151         8644
40   DATASET_34.CSV  adj.P.Val      23442      12151         8644
80   DATASET_50.CSV  adj.P.Val      23442      12151         8644
108   DATASET_9.CSV  adj.P.Val      23442      12151         8644
116  DATASET_42.CSV  adj.P.Val      23442      12151         8644
136  DATASET_41.CSV  adj.P.Val      23442      12151         8644
156   DATASET_1.CSV  adj.P.Val      23442      12151         8644
160  DATASET_49.CSV  adj.P.Val      23442      12151         8644
168   DATASET_2.CSV  adj.P.Val      23442      12151         8644
184  DATASET_10.CSV  adj.P.Val      23442      12151         8644
220  DATASET_17.CSV  adj.P.Val      23442      12151         8644
================================================================
rank_irf1
            Dataset    sort_by  rank_elf1  rank_irf1  rank_syngr1
0    DATASET_26.CSV  adj.P.Val      23442      12151         8644
8    DATASET_33.CSV  adj.P.Val      23442      12151         8644
20   DATASET_25.CSV  adj.P.Val      23442      12151         8644
28   DATASET_18.CSV  adj.P.Val      23442      12151         8644
40   DATASET_34.CSV  adj.P.Val      23442      12151         8644
80   DATASET_50.CSV  adj.P.Val      23442      12151         8644
108   DATASET_9.CSV  adj.P.Val      23442      12151         8644
116  DATASET_42.CSV  adj.P.Val      23442      12151         8644
136  DATASET_41.CSV  adj.P.Val      23442      12151         8644
156   DATASET_1.CSV  adj.P.Val      23442      12151         8644
160  DATASET_49.CSV  adj.P.Val      23442      12151         8644
168   DATASET_2.CSV  adj.P.Val      23442      12151         8644
184  DATASET_10.CSV  adj.P.Val      23442      12151         8644
220  DATASET_17.CSV  adj.P.Val      23442      12151         8644
================================================================
rank_syngr1
            Dataset    sort_by  rank_elf1  rank_irf1  rank_syngr1
4    DATASET_32.CSV  adj.P.Val      26146      17268         4345
16   DATASET_31.CSV  adj.P.Val      26146      17268         4345
32   DATASET_24.CSV  adj.P.Val      26146      17268         4345
56   DATASET_23.CSV  adj.P.Val      26146      17268         4345
96   DATASET_47.CSV  adj.P.Val      26146      17268         4345
112   DATASET_8.CSV  adj.P.Val      26146      17268         4345
120  DATASET_56.CSV  adj.P.Val      26146      17268         4345
124  DATASET_40.CSV  adj.P.Val      26146      17268         4345
132  DATASET_55.CSV  adj.P.Val      26146      17268         4345
144   DATASET_7.CSV  adj.P.Val      26146      17268         4345
172  DATASET_48.CSV  adj.P.Val      26146      17268         4345
192  DATASET_39.CSV  adj.P.Val      26146      17268         4345
204  DATASET_15.CSV  adj.P.Val      26146      17268         4345
216  DATASET_16.CSV  adj.P.Val      26146      17268         4345
================================================================

In [7]:
for rank_col in ['rank_elf1', 'rank_irf1', 'rank_syngr1']: 
    print(rank_col)
    print(res_df[res_df[rank_col] == res_df[rank_col].min()]) 
    print("================================================================")

rank_elf1
            Dataset sort_by  rank_elf1  rank_irf1  rank_syngr1
39   DATASET_30.CSV   logFC       6986       9217        40863
51   DATASET_21.CSV   logFC       6986       9217        40863
63   DATASET_37.CSV   logFC       6986       9217        40863
71   DATASET_22.CSV   logFC       6986       9217        40863
75   DATASET_45.CSV   logFC       6986       9217        40863
95   DATASET_46.CSV   logFC       6986       9217        40863
103  DATASET_53.CSV   logFC       6986       9217        40863
131  DATASET_54.CSV   logFC       6986       9217        40863
143   DATASET_6.CSV   logFC       6986       9217        40863
151   DATASET_5.CSV   logFC       6986       9217        40863
179  DATASET_13.CSV   logFC       6986       9217        40863
191  DATASET_38.CSV   logFC       6986       9217        40863
203  DATASET_29.CSV   logFC       6986       9217        40863
211  DATASET_14.CSV   logFC       6986       9217        40863
================================================================
rank_irf1
            Dataset sort_by  rank_elf1  rank_irf1  rank_syngr1
37   DATASET_30.CSV       t      11544       6035        36224
49   DATASET_21.CSV       t      11544       6035        36224
61   DATASET_37.CSV       t      11544       6035        36224
69   DATASET_22.CSV       t      11544       6035        36224
73   DATASET_45.CSV       t      11544       6035        36224
93   DATASET_46.CSV       t      11544       6035        36224
101  DATASET_53.CSV       t      11544       6035        36224
129  DATASET_54.CSV       t      11544       6035        36224
141   DATASET_6.CSV       t      11544       6035        36224
149   DATASET_5.CSV       t      11544       6035        36224
177  DATASET_13.CSV       t      11544       6035        36224
189  DATASET_38.CSV       t      11544       6035        36224
201  DATASET_29.CSV       t      11544       6035        36224
209  DATASET_14.CSV       t      11544       6035        36224
================================================================
rank_syngr1
            Dataset sort_by  rank_elf1  rank_irf1  rank_syngr1
14   DATASET_27.CSV       B      30697      20305         4343
26   DATASET_19.CSV       B      30697      20305         4343
46   DATASET_20.CSV       B      30697      20305         4343
54   DATASET_35.CSV       B      30697      20305         4343
66   DATASET_36.CSV       B      30697      20305         4343
78   DATASET_51.CSV       B      30697      20305         4343
86   DATASET_44.CSV       B      30697      20305         4343
90   DATASET_52.CSV       B      30697      20305         4343
106  DATASET_43.CSV       B      30697      20305         4343
154   DATASET_4.CSV       B      30697      20305         4343
166   DATASET_3.CSV       B      30697      20305         4343
182  DATASET_12.CSV       B      30697      20305         4343
198  DATASET_11.CSV       B      30697      20305         4343
214  DATASET_28.CSV       B      30697      20305         4343
================================================================